body{
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: bold;
}

p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-weight: 500;
}

form{
    display: grid;
    border: 2px solid white;
    padding: 40px;
    margin: auto;
    width: 40vw;
    background: #F0E68C;
}

label, input, select{
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: 500;
}

.imprv-chkbox{
    display: grid;
    padding: 5px;
}

.comments{
    margin-bottom: 20px;
}

#submit-btn{
    padding: 10px;
}